{{ header }} 
 <style>
#loading_oculto{
z-index:999999999999;
position:fixed;
top:0%;
left:0%;
width:100%;
height: 100%;
background-color:rgb(248, 248, 248);
}
.loader_gif_img {
    margin: auto!important;
    width: 333px!important;
    display: table!important;
    margin-top: 49%!important;
}
</style>


<div id="common-home" class="container">
<div id="loading_oculto"><img src="../image/ajax_loader.gif" class="loader_gif_img"/></div>

<div id="modal-agree" class="modal in" style="display: block;">  
<div class="modal-dialog">    
<div class="modal-content">      
<div class="modal-header">        
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
 <h4 class="modal-title">Bienvenido</h4>      
 </div>      
 <div class="modal-body">
 <div style="text-align: center;">
<!--<video  class ="container video" height="600" id="video1" width="auto" autoplay muted>
    <source src="../image/video-jujuy.mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>-->
  </div>
  <div class="social">
  <a href=""><button type="button" id="button-menu" style="" data-loading-text="Finalizar pedido" class="btn  btn-lg btn-block order float">MENU DEL DIA</button></a>
  <br /><br /><br />

 <a href="../index.php?route=account/login"><button type="button" id="button-register" style="
    background-color: #121212 !important;" data-loading-text="Finalizar pedido" class="btn  btn-lg btn-block order float">REGISTRARSE</button></a>
	  <img src="../image/inicio.png" style="
    height: 820;
"><img>

<!--<img class="campana" src="../image/campana.png"><img>
<p>LLamar al mozo</p>-->

	</div>
</div>    
</div>  
</div>
</div>

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
<script>
    
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

    $( "#button-menu" ).click(function(event) {

        event.preventDefault();

  $('#modal-agree').hide();
});

$(document).ready(function() {
   setTimeout(function(){
  $("#loading_oculto").css({"display":"none"});
}, 2000);
  

	var m = getParameterByName('main');
  if (m=="off"){
   $('#modal-agree').hide();
  }

});

</script>