{% set img = 'image/usuario.png' %}
{% set login = 'index.php?route=account/account' %}
{% set m = '?main=off' %}
{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" id ="menu_display" onclick="openNav2()"  class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>

{# <a href="/index.php" class="topnav-icons fa fa-home w3-left w3-bar-item w3-button" title="Home"></a>
 #}   
  {# <a href={{base ~ login}} class="TTSLogo1"><img class="logoWeb" src={{base ~ img}}   title="user" alt="user"><strong class="username">{{name}}</strong></img> #}
<img class="logoWeb" src={{base ~ 'image/logo_menu.png'}} onclick="openNav()" title="user" alt="user">
      <div id="mySidenav" class="sidenav">
        <h2>Menu</h2>
<hr>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href={{base ~ login}}>REGISTRARSE</a>
  <a href="../index.php?route=checkout/cart">MIS PEDIDOS</a>
  <a href="../index.php?route=checkout/checkout">PAGAR</a>
  <a href={{base ~ m}}>MERCADITO</a>
</div>


 <div id="mySidenav2" class="sidenav2">
 <img class="" src="../image/logo_ticket.png" onclick="" title="user" alt="user" style="
    width: 30%;
">
    <h4>Hacer mi Pedido</h4>
<hr>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  {% for category in categories %}
  <a href="{{ category.href }}">{{ category.name }}</a>
  {% endfor %}
</div>



 {# </a> #}
{# <a href="../index.php?route=checkout/cart" class="fa fa-cutlery" title="Mis Pedidos" style="
    padding-left: 17px;
"></a> #}
    <a href={{base ~ m}} class="TTSLogo1"><img class="logoWeb2" src={{logo}} title="logo" alt="logo"></a>

    </div>
     <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} 
<div class="contenedor">

<img id="order_img" name="order_img" src="../image/mi-pedido.png" data-toggle="tooltip" data-placement="right">
</img>
</div>
<script>
$( "#order_img" ).on( "click", function() {
    // lo que queramos realizar
    console.log('ayuda?');
    var duration = 'slow';
//$( "#cart" ).css( "display","block" );
$("#cart").toggle("slide");
$( "#menu" ).css( "display","none" );
setTimeout(function(){ $('#boton_carrito').click(),$( "#cart" ).append( '<div class="dropdown-backdrop"></div>' );}, 1000);

});

function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}


function openNav2() {
  document.getElementById("mySidenav2").style.width = "100%";
}

function closeNav2() {
  document.getElementById("mySidenav2").style.width = "0";
}


</script>
