{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p>
{% for shipping_method in shipping_methods %}
<p><strong>{{ shipping_method.title }}</strong></p>
{% if not shipping_method.error %}
{% for quote in shipping_method.quote %}
<div class="radio">
  <label> {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
    {% else %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" />
    {% endif %}
    {{ quote.title }} - {{ quote.text }}</label>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p id="lbldireccion" name="lbldireccion" class="direccion"><strong>Direccion:</strong></p>

<input name="new_direccion" id="new_direccion" class="form-control subrayado" placeholder="ingrese la direccion de entrega"></input>

<p id="lblcomentario" name="lblcomentario" class="comentarios"><strong>Punto de Referencia</strong></p>
<p>
  <textarea name="comment" id="comment"  class="form-control subrayado">{{ comment }}</textarea>
</p>

<p id="lblcorreo" name="lblcorreo" class="direccion"><strong>E-Mail:</strong></p>

<input  type ="email" name="new_correo" id="new_correo" class="form-control subrayado" placeholder="Correo electronico"></input>

<p id="lbltelefono" name="lbltelefono" class="direccion"><strong>Telefono:</strong></p>

<input  type ="text" name="new_tel" id="new_tel" class="form-control subrayado" placeholder="telefono"></input>


<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn order" />
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function()
		{
		$('.radio').click(function () {
            let check=$('input:radio[name=shipping_method]:checked').val()
            console.log(check);
            if (check=="weight.weight_5")
            {
              document.getElementById('lblcomentario').innerHTML = "N° de Mesa";
              $("#comment").attr("placeholder", "ingrese el numero de mesa");
              $("#lbldireccion").hide();
              $("#new_direccion").hide();
              $("#lblcorreo").hide();
              $("#new_correo").hide();
              $("#lbltelefono").hide();
              $("#new_tel").hide();
            }

           if (check=="weight.weight_7")
            {
              document.getElementById('lblcomentario').innerHTML = "Punto de Referencia";
              $("#comment").attr("placeholder", "*referencia para el delivery");
              $("#comment").attr("placeholder", "ingrese el numero de mesa");
              $("#lbldireccion").show();
              $("#new_direccion").show();
              $("#lblcorreo").show();
              $("#new_correo").show();
              $("#lbltelefono").show();
              $("#new_tel").show();
            }
            
             if (check=="weight.weight_6")
            {
              document.getElementById('lblcomentario').innerHTML = "Hora Estimada";
              $("#comment").attr("placeholder", "--:--");
            }

            //document.getElementById('price').innerHTML = $(this).val();

       });
    
    });
</script>