<div class="box box-no-advanced">
  <div class="box-heading">{{ heading_title }}</div>
  <div class="strip-line"></div>
  <div class="box-content">
    <ul>
      {% for information in informations %} 
      <li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
      {% endfor %} 
      <li><a href="{{ contact }}">{{ text_contact }}</a></li>
      <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
    </ul>
  </div>
</div>
