<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> {{ heading_title }}</h3>
    <button data-toggle="tooltip" id="btn_lospuestos" title="" class="btn btn-info btn-xs" data-original-title="Comercio" aria-describedby="tooltip673561">LOS PUESTOS<i class="fa fa-shopping-cart fa-fw"></i></button>
    <button data-toggle="tooltip"  id="btn_tilcara" title="" class="btn btn-info btn-xs" data-original-title="Comercio" aria-describedby="tooltip673561">LOS PUESTOS TILCARA<i class="fa fa-shopping-cart fa-fw"></i></button>
    <button data-toggle="tooltip"id="btn_killa"  title="" class="btn btn-info btn-xs" data-original-title="Comercio" aria-describedby="tooltip673561">KILLA<i class="fa fa-shopping-cart fa-fw"></i></button>
    <button data-toggle="tooltip"id="btn_todos"  title="" class="btn btn-info btn-xs" data-original-title="Comercio" aria-describedby="tooltip673561">Todos<i class="fa fa-shopping-cart fa-fw"></i></button>

  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-right">{{ column_order_id }}</td>
          <td>{{ column_customer }}</td>
          <td>{{ column_status }}</td>
          <td>{{ column_date_added }}</td>
          <td class="text-right">{{ column_total }}</td>
          <td class="text-left">{{ "Destino" }}</td>
          
          <td class="text-right">{{ column_action }}</td>

        </tr>
      </thead>
      <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
          <td class="text-right">{{ order.order_id }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.date_added }}</td>
          <td class="text-right">{{ order.total }}</td>
         
            <td>{{ order.local }}</td>
          <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="text-center" colspan="7">{{ text_no_results }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btn_lospuestos').click(function(){
              var t = $('#menu-dashboard').children().attr('href'); 
               var url =t;
               url=url+"&store=LOS PUESTOS"
                window.location.replace(url);

            });

 $('#btn_tilcara').click(function(){
            var t = $('#menu-dashboard').children().attr('href'); 
               var url =t;
               url=url+"&store=TILCARA"
                window.location.replace(url);

            });

$('#btn_killa').click(function(){
              var t = $('#menu-dashboard').children().attr('href'); 
               var url =t;
               url=url+"&store=KILLA"
                window.location.replace(url);

            });

            $('#btn_todos').click(function(){
              var t = $('#menu-dashboard').children().attr('href'); 
               var url =t;
                window.location.replace(url);

            });



        });
    </script>

