{% if (theme_options.get( 'fixed_header' ) == 1) %} 
<!-- HEADER
	================================================== -->
<div class="fixed-header-1 sticky-header">
	<div class="background-header"></div>
	<div class="slider-header">
		<!-- Top of pages -->
		<div id="top" class="{% if (theme_options.get( 'header_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'header_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'header_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
			<div class="background-top"></div>
			<div class="background">
				<div class="shadow"></div>
				<div class="pattern">
				    	<!-- Header Left -->
							<div class="col-sm-2" id="header-left">
							     {% if (logo) %} 
							     <!-- Logo -->
							     <div class="logo"><a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a></div>
							     {% endif %} 
							</div>
							
							<div class="col-sm-2 col-md-6" id="header-right">
					{% if (theme_options.get( 'megamenu_type' ) == 4 or theme_options.get( 'megamenu_type' ) == 5 or theme_options.get( 'megamenu_type' ) == 6 or theme_options.get( 'megamenu_type' ) == 9 or theme_options.get( 'megamenu_type' ) == 14 or theme_options.get( 'megamenu_type' ) == 19 or theme_options.get( 'megamenu_type' ) == 29) %} 
					<div class="container container-megamenu2">
					{% endif %} 
					
					{% set menu9 = theme_options.getModules('menu') %}
					{% if ( menu9|length > 0 ) %} 
					     <div class="megamenu-background">
					          <div class="">
					               <div class="overflow-megamenu container">
			 						{% if (menu9|length > 1) %} {{ '<div class="row mega-menu-modules">' }}{% endif %}
			 						{% set i = 0 %}
			 						 
			 						{% for module in menu9 %} 
			 						 {% if (i == 0 and menu9|length > 1) %} {{ '<div class="col-md-3">' }}{% endif %}
			 						 {% if (i == 1 and menu9|length > 1) %} {{ '<div class="col-md-9">' }}{% endif %}
			 							 {{ module }}
			 							{% if (menu9|length > 1 and (i == 0 or i == 1)) %} {{ '</div>' }}{% endif %}
			 							{% if (menu9|length > 1 and i == 1) %} {{ '</div>' }}{% endif %}
			 							{% set i = i + 1 %}
			 						{% endfor %} 
               					</div>
               				</div>
               			</div>
					{% else %} 
						{{ menu }}
					{% endif %}
					
					{% if (theme_options.get( 'megamenu_type' ) == 4 or theme_options.get( 'megamenu_type' ) == 5 or theme_options.get( 'megamenu_type' ) == 6 or theme_options.get( 'megamenu_type' ) == 9 or theme_options.get( 'megamenu_type' ) == 14 or theme_options.get( 'megamenu_type' ) == 19 or theme_options.get( 'megamenu_type' ) == 29) %} 
					</div>
					{% endif %} 
					
					
					{% set menu92 = theme_options.getModules('menu2') %}
					{% if ( menu92|length > 0 ) %} 
					 {{ '<div class="overflow-menu2">' }}
						{% for module in menu92 %} 
							{{ module }}
						{% endfor %}
						{{ '</div>' }}
					{% endif %} 
					</div>
					
					
					<div class="col-sm-8 col-md-4" >
							     
							     <!-- Search -->
							     <div class="search_form">
							     	<div class="button-search"></div>
							     	<input type="text" class="input-block-level search-query" name="search" placeholder="{{ text_search }}" id="search_query" value="" />
							     	
							     	{% if (theme_options.get( 'quick_search_autosuggest' ) != '0') %} 
							     		<div id="autocomplete-results" class="autocomplete-results"></div>
							     		
							     		<script type="text/javascript">
							     		$(document).ready(function() {
							     			$('#search_query').autocomplete({
							     				delay: 0,
							     				appendTo: "#autocomplete-results",
							     				source: function(request, response) {		
							     					$.ajax({
							     						url: 'index.php?route=search/autocomplete&filter_name=' +  encodeURIComponent(request.term),
							     						dataType: 'json',
							     						success: function(json) {
							     							response($.map(json, function(item) {
							     								return {
							     									label: item.name,
							     									value: item.product_id,
							     									href: item.href,
							     									thumb: item.thumb,
							     									desc: item.desc,
							     									price: item.price
							     								}
							     							}));
							     						}
							     					});
							     				},
							     				select: function(event, ui) {
							     					document.location.href = ui.item.href;
							     					
							     					return false;
							     				},
							     				focus: function(event, ui) {
							     			      	return false;
							     			   	},
							     			   	minLength: 2
							     			})
							     			.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
							     			  return $( "<li>" )
							     			    .append( "<a>" + item.label + "</a>" )
							     			    .appendTo( ul );
							     			};
							     		});
							     		</script>
							     	{% endif %} 
							     </div>
							     
							     
								{{ cart }} 
							</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %} 

<!-- HEADER
	================================================== -->
<header class="header-type-2 header-type-7 header-type-20">
	<div class="background-header"></div>
	<div class="slider-header">
		<!-- Top of pages -->
		<div id="top" class="{% if (theme_options.get( 'header_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'header_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'header_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
			<div class="background-top"></div>
			<div class="background">
				<div class="shadow"></div>
				<div class="pattern">
				<div class="top-bar">
					
					<div class="container">
						<div class="row">
						
						 <div class="col-sm-4" ><ul class="social">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul></div>

<div class="col-sm-4 sale-text"><strong>Biggest Sale Offer</strong> This Offer is valid on Today</div>


<div class="col-sm-4" >
								       <!-- Links -->
				               <ul class="menu menu-icons">
				                   <li>	 Currency {{ currency~language }} </li>
				               	<li><a href="{{ account }}"><i class="fa fa-user"></i><span>{{ text_account }}</span></a></li>
				               	<li><a href="{{ wishlist }}" id="wishlist-total"><i class="fa fa-heart-o"></i><span>{{ text_wishlist }}</span></a></li>
				               	<li><a href="{{ shopping_cart }}"><i class="fa fa-shopping-bag"></i><span>{{ text_shopping_cart }}</span></a></li>
				               	<li><a href="{{ checkout }}"><i class="fa fa-check"></i><span>{{ text_checkout }}</span></a></li>
				              	{% if (logged) %} 
				              	<li><a href="{{ logout }}">{{ text_logout }}</a></li>
				              	{% endif %} 
								
								
				               </ul></div>



						</div>
						
						</div>
					
					</div>
				     
				     	 <div class="top-middle">
					<div class="container">
						<div class="row">
							<!-- Header Left -->
							<div class="col-sm-2" id="header-left">
							     {% if (logo) %} 
							     <!-- Logo -->
							     <div class="logo"><a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a></div>
							     {% endif %} 
							</div>
							
							<!-- Header Right -->
							<div class="col-sm-4 col-md-6" id="header-right">
							    
							    
							    	{% if (theme_options.get( 'megamenu_type' ) == 4 or theme_options.get( 'megamenu_type' ) == 5 or theme_options.get( 'megamenu_type' ) == 6 or theme_options.get( 'megamenu_type' ) == 9 or theme_options.get( 'megamenu_type' ) == 14 or theme_options.get( 'megamenu_type' ) == 19 or theme_options.get( 'megamenu_type' ) == 29) %} 
					<div class="container container-megamenu2">
					{% endif %} 
					
					{% set menu9 = theme_options.getModules('menu') %}
					{% if ( menu9|length > 0 ) %} 
					     <div class="megamenu-background">
					          <div class="">
					               <div class="overflow-megamenu container">
			 						{% if (menu9|length > 1) %} {{ '<div class="row mega-menu-modules">' }}{% endif %}
			 						{% set i = 0 %}
			 						 
			 						{% for module in menu9 %} 
			 						 {% if (i == 0 and menu9|length > 1) %} {{ '<div class="col-md-3">' }}{% endif %}
			 						 {% if (i == 1 and menu9|length > 1) %} {{ '<div class="col-md-9">' }}{% endif %}
			 							 {{ module }}
			 							{% if (menu9|length > 1 and (i == 0 or i == 1)) %} {{ '</div>' }}{% endif %}
			 							{% if (menu9|length > 1 and i == 1) %} {{ '</div>' }}{% endif %}
			 							{% set i = i + 1 %}
			 						{% endfor %} 
               					</div>
               				</div>
               			</div>
					{% else %} 
						{{ menu }}
					{% endif %}
					
					{% if (theme_options.get( 'megamenu_type' ) == 4 or theme_options.get( 'megamenu_type' ) == 5 or theme_options.get( 'megamenu_type' ) == 6 or theme_options.get( 'megamenu_type' ) == 9 or theme_options.get( 'megamenu_type' ) == 14 or theme_options.get( 'megamenu_type' ) == 19 or theme_options.get( 'megamenu_type' ) == 29) %} 
					</div>
					{% endif %} 
					
					
					{% set menu92 = theme_options.getModules('menu2') %}
					{% if ( menu92|length > 0 ) %} 
					 {{ '<div class="overflow-menu2">' }}
						{% for module in menu92 %} 
							{{ module }}
						{% endfor %}
						{{ '</div>' }}
					{% endif %} 
							    
							    
							    
							     
							 {% set top_block = theme_options.getModules('top_block') %}
							 {% if ( top_block|length > 0 ) %} 
							 	{% for module in top_block %} 
							 		{{ module }}
							 	{% endfor %}
							 {% endif %} 
							 
							 </div>
							 
							 
							 <div class="col-sm-4 col-md-4" >
							     
							     <!-- Search -->
							     <div class="search_form">
							     	<div class="button-search"></div>
							     	<input type="text" class="input-block-level search-query" name="search" placeholder="{{ text_search }}" id="search_query" value="" />
							     	
							     	{% if (theme_options.get( 'quick_search_autosuggest' ) != '0') %} 
							     		<div id="autocomplete-results" class="autocomplete-results"></div>
							     		
							     		<script type="text/javascript">
							     		$(document).ready(function() {
							     			$('#search_query').autocomplete({
							     				delay: 0,
							     				appendTo: "#autocomplete-results",
							     				source: function(request, response) {		
							     					$.ajax({
							     						url: 'index.php?route=search/autocomplete&filter_name=' +  encodeURIComponent(request.term),
							     						dataType: 'json',
							     						success: function(json) {
							     							response($.map(json, function(item) {
							     								return {
							     									label: item.name,
							     									value: item.product_id,
							     									href: item.href,
							     									thumb: item.thumb,
							     									desc: item.desc,
							     									price: item.price
							     								}
							     							}));
							     						}
							     					});
							     				},
							     				select: function(event, ui) {
							     					document.location.href = ui.item.href;
							     					
							     					return false;
							     				},
							     				focus: function(event, ui) {
							     			      	return false;
							     			   	},
							     			   	minLength: 2
							     			})
							     			.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
							     			  return $( "<li>" )
							     			    .append( "<a>" + item.label + "</a>" )
							     			    .appendTo( ul );
							     			};
							     		});
							     		</script>
							     	{% endif %} 
							     </div>
							     
							     
								{{ cart }} 
							</div>
						</div>
					</div>
					
				
				</div>
			</div>
		</div>
		</div>
	</div>
	
	{% set slideshow = theme_options.getModules('slideshow') %} 
	 {% if (slideshow|length > 0) %} 
	<!-- Slider -->
	<div id="slider" class="{% if (theme_options.get( 'slideshow_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
		<div class="background-slider"></div>
		<div class="background">
			<div class="shadow"></div>
			<div class="pattern">
				{% for module in slideshow %} 
				{{ module }} 
				{% endfor %} 
			</div>
		</div>
	</div>
	{% endif %} 
</header>